[powerlevel10k] fetching gitstatusd .. [ok]
 ~  cd                                                          ✔  20:06:29
 ~  ls                                                          ✔  20:06:31
Applications
Creative Cloud Files
Creative Cloud Files ii6v6yiprh@privaterelay.appleid.com 1a92089ef9886cbbc3c0f75c0a2dd4777cf3796eb56f651c24ba49ad3bf92433
Creative Cloud Files rego.develop.1@gmail.com b4c774e83504d99fa56280ea7e0d9437fae14e722a012d167fd675a9e44a057f
Creative Cloud Files rego.general.1@gmail.com 64f805c917dd80ca2c410fa189039372626959b35283b51a49e98b390bb15930
Desktop
Documents
Downloads
Library
Movies
Music
OneDrive
OneDrive - GIST
Pictures
Postman
Public
iCloud Drive(아카이브)
iCloud Drive(아카이브) - 1
opt
 ~  cd Desktop                                                  ✔  20:06:32
 ~/Desktop  ls                                                  ✔  20:06:37
Yuseong
 ~/Desktop  cd Yuseong                                          ✔  20:06:37
 ~/Desktop/Yuseong  ls                                          ✔  20:06:39
Projects
 ~/Desktop/Yuseong  cd Projects                                 ✔  20:06:40
 ~/De/Y/Projects  ls                                            ✔  20:06:41
2023      reference
 ~/De/Y/Projects  mkdir algorithm                               ✔  20:06:42
 ~/De/Y/Projects  cd algorithm                                  ✔  20:06:55
 ~/De/Y/P/algorithm  ls                                         ✔  20:06:58
 ~/De/Y/P/algorithm  git clone https://github.com/99yuseong/Algorithm.git
Cloning into 'Algorithm'...
remote: Enumerating objects: 22, done.
remote: Counting objects: 100% (22/22), done.
remote: Compressing objects: 100% (15/15), done.
remote: Total 22 (delta 1), reused 19 (delta 1), pack-reused 0
Receiving objects: 100% (22/22), 14.65 KiB | 7.32 MiB/s, done.
Resolving deltas: 100% (1/1), done.
 ~/De/Y/P/algorithm  ls                                         ✔  20:07:22
Algorithm
 ~/De/Y/P/algorithm  cd Algorithm/                              ✔  20:07:23
 ~/De/Y/P/a/Algorithm  main  ls                                ✔  20:07:28
Algorithm README.md
 ~/De/Y/P/a/Algorithm  main  cd Algorithm                      ✔  20:07:29
 ~/De/Y/P/a/Algorithm/Algorithm  main  ls                      ✔  20:07:31
Algorithm           Algorithm.xcodeproj
 ~/De/Y/P/a/Algorithm/Algorithm  main  cd Algorithm.xcodeproj  ✔  20:07:32
 ~/De/Y/P/a/Algorithm/A/Algorithm.xcodeproj  main  cd ..       ✔  20:07:34
 ~/De/Y/P/a/Algorithm/Algorithm  main  open Algorithm.xcodeproj
 ~/De/Y/P/a/Algorithm/Algorithm  main  ls                      ✔  20:07:44
Algorithm           Algorithm.xcodeproj
 ~/De/Y/P/a/Algorithm/Algorithm  main !3  git status           ✔  21:44:34
On branch main
Your branch is up to date with 'origin/main'.

Changes not staged for commit:
  (use "git add <file>..." to update what will be committed)
  (use "git restore <file>..." to discard changes in working directory)
	modified:   Algorithm.xcodeproj/project.pbxproj
	modified:   Algorithm.xcodeproj/project.xcworkspace/xcuserdata/yuseongnam.xcuserdatad/UserInterfaceState.xcuserstate
	modified:   Algorithm/main.swift

no changes added to commit (use "git add" and/or "git commit -a")
 ~/De/Y/P/a/Algorithm/Algorithm  main !3  git rm --cached Algorithm.xcodeproj/project.xcworkspace/xcuserdata/yuseongnam.xcuserdatad/UserInterfaceState.xcuserstate
rm 'Algorithm/Algorithm.xcodeproj/project.xcworkspace/xcuserdata/yuseongnam.xcuserdatad/UserInterfaceState.xcuserstate'
 ~/De/Y/P/a/Algorithm/Algorithm  main +1 !2  ls                ✔  21:45:16
Algorithm           Algorithm.xcodeproj
 ~/De/Y/P/a/Algorithm/Algorithm  main +1 !2  git status        ✔  21:45:18
On branch main
Your branch is up to date with 'origin/main'.

Changes to be committed:
  (use "git restore --staged <file>..." to unstage)
	deleted:    Algorithm.xcodeproj/project.xcworkspace/xcuserdata/yuseongna
# Created by https://www.toptal.com/developers/gitignore/api/swift,macos,xcode

### macOS ###
# General
.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon


# Thumbnails
._*
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.com.apple.timemachine.donotpresent

# Directories potentially created on remote AFP share
Network Trash Folder
Temporary Items
.apdisk

### macOS Patch ###
# iCloud generated files
*.icloud

### Swift ###
# Xcode
#

## User settings
xcuserdata/

*.xcscmblueprint
*.xccheckout

build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3

## Obj-C/Swift specific
*.hmap

## App packaging
*.ipa
*.dSYM.zip
## Playgrounds

# Swift Package Manager
# Packages/
# Package.pins
# Package.resolved
# *.xcodeproj
# .swiftpm

.build/

# CocoaPods
# We recommend against adding the Pods directory to your .gitignore. However
# you should judge for yourself, the pros and cons are mentioned at:
# Pods/
# *.xcworkspace

# Carthage
# Carthage/Checkouts

Carthage/Build/

# Accio dependency management
Dependencies/
.accio/

# fastlane
# It is recommended to not store the screenshots in the git repo.
# Instead, use fastlane to re-generate the screenshots whenever they are needed.
# For more information about the recommended setup visit:
# https://docs.fastlane.tools/best-practices/source-control/#source-control

fastlane/report.xml
# Created by https://www.toptal.com/developers/gitignore/api/swift,macos,xcode
# Edit at https://www.toptal.com/developers/gitignore?templates=swift,macos,xcode

### macOS ###
# General
.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon


# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
# Created by https://www.toptal.com/developers/gitignore/api/swift,macos,xcode
# Edit at https://www.toptal.com/developers/gitignore?templates=swift,macos,xcode

### macOS ###
# General
.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon


# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

### macOS Patch ###
# iCloud generated files
*.icloud

### Swift ###
# Xcode
#
# gitignore contributors: remember to update Global/Xcode.gitignore, Objective-C.gitignore & Swift.gitignore

## User settings
xcuserdata/

## compatibility with Xcode 8 and earlier (ignoring not required starting Xcode 9)
*.xcscmblueprint
*.xccheckout

## compatibility with Xcode 3 and earlier (ignoring not required starting Xcode 4)
build/
DerivedData/
*.moved-aside
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3

## Obj-C/Swift specific
*.hmap

## App packaging
*.ipa
*.dSYM.zip
*.dSYM

## Playgrounds
timeline.xctimeline
playground.xcworkspace

# Swift Package Manager
# Add this line if you want to avoid checking in source code from Swift Package Manager dependencies.
# Packages/
# Package.pins
# Package.resolved
# *.xcodeproj
# Xcode automatically generates this directory with a .xcworkspacedata file and xcuserdata
# hence it is not needed unless you have added a package configuration file to your project
# .swiftpm

.build/

# CocoaPods
# We recommend against adding the Pods directory to your .gitignore. However
# you should judge for yourself, the pros and cons are mentioned at:
# https://guides.cocoapods.org/using/using-cocoapods.html#should-i-check-the-pods-directory-into-source-control
# Pods/
# Add this line if you want to avoid checking in source code from the Xcode workspace
# *.xcworkspace

# Carthage
# Add this line if you want to avoid checking in source code from Carthage dependencies.
# Carthage/Checkouts

Carthage/Build/

# Accio dependency management
Dependencies/
.accio/

# fastlane
# It is recommended to not store the screenshots in the git repo.
# Instead, use fastlane to re-generate the screenshots whenever they are needed.
# For more information about the recommended setup visit:
# https://docs.fastlane.tools/best-practices/source-control/#source-control

fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output

# Code Injection
# After new code Injection tools there's a generated folder /iOSInjectionProject
# https://github.com/johnno1962/injectionforxcode

iOSInjectionProject/

### Xcode ###

## Xcode 8 and earlier

### Xcode Patch ###
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcodeproj/project.xcworkspace/
!*.xcworkspace/contents.xcworkspacedata
/*.gcno
**/xcshareddata/WorkspaceSettings.xcsettings

# End of https://www.toptal.com/developers/gitignore/api/swift,macos,xcode
